/*
 Theme Name:   storefront Child
 Theme URI:    http://localhost/wp/Gentleman-Trend/
 Description:  Storefront Child Theme
 Author:       Pontus Pettersson
 Author URI:   http://example.com
 Template:     storefront
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  storefront-child
*/

/*-- Theme Items --*/
    /*--
        #464646: Dark grey
        #eeb04d: Orange
        #000: Black
        #fff: White
        #acacac: Text Color under search bar
        Fonts: Calibri Italic
    */

/*-- Main Styles For storefront --*/
body {
    font-family: Calibri Italic;
    background-color: #f7f7f8 !important;
}
/*-- Header --*/
.site-header, .header-widget-region .widget, header ul, header p {
    padding: 0;
    margin: 0;
}

#custom_html-2 ul li {
    display: inline-block;
    min-width: 250px;
}

#custom_html-2 ul li p {
    text-align: center;
    padding: 15px 0;
    display: block;
    cursor: pointer;
    color: #fff;
    border-right: 1px solid #fff;
    font-size: 16px;
}

#custom_html-2 {
    background: #464646;
}

.site-header
{
    background-color:#fff;
}

.woocommerce-active .site-branding, .woocommerce-active .site-header .site-search {
    float: none;
}
.site-header .site-branding{
    width: 95%;
    margin: auto;
}

.site-search {
    width: 42.73913%;
}

.site-header .custom-logo-link, .site-header .site-logo-anchor, .site-header .site-logo-link, .site-search {
    display: inline-block;
    vertical-align: top;
    margin-right: 6em;
}

@media (min-width: 768px) {
    .custom-logo-link, .site-branding, .site-header-cart, .site-logo-anchor, .site-logo-link, .site-search {
        margin: 1.41575em 0;

    }
    .woocommerce-active .site-header .site-search {
        width: 42.73913%;
    }
}

.site-branding a img {
    width: 300px;
}

.widget_product_search form button[type=submit], .widget_product_search form input[type=submit], .widget_search form button[type=submit], .widget_search form input[type=submit] {
    right: -53px;
    left: unset;
    clip: auto;
}

.added_to_cart, .button, button, input[type=button], input[type=reset], input[type=submit] {
    padding: 0.85em 1.4em;
}